realms_persistence.json
servers.dat
servers.dat_old
usercache.json
options.txt
command_history.txt
checkbox_states.json
spiffy_instance_data
screenshots
saves
resourcepacks
mods
logs
flashback
fancymenu_data
emotes
downloads
datapacks
data
crash-reports
cache
.fabric